---
layout: default
---

{% for post in site.categories.homepage %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
  </header>
  {% if post.strip-image %}
  <div class="strip-container">
    <img src="/strip-img/{{post.strip-image}}" class="strip-image">
  </div>
  {% endif %}
  <div class="PageNavigation">
    {% if post.previous.url %}
      <a class="prev" href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
    {% endif %}
    {% if post.next.url %}
      <a class="next" href="{{post.next.url}}">{{post.next.title}} &raquo;</a>
    {% endif %}
  </div>
  <br>
  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>

</article>
{% endfor %}
